@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Work Order Client Login";
}
<div class="text-center">
<h2>Login</h2>

<h5>Enter in a valid Work Order Number and the email associated with that work order to get started.</h5>

<p>Work Order #: <input type="text" name="WorkOrderNum" /></p>
<p>Customer Email: <input type="text" name="CustEmail" /></p>
<a asp-action="Validate" asp-controller="Login" class="btn btn-primary">Submit</a>
</div>