@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Validation Code Entry";
}
<div class="text-center">
    <h2>Enter the Validation Code</h2>

    <h5>A validation code has been emailed to the address submitted.</h5>
    <h5>Please enter that code below to procede</h5>
    <form asp-action="ConfirmCode" asp-controller="Login">
        <p><input type="password" name="ValidationCode" /></p>
        <p><input type="submit" value="Validate"</p>
    </form>
</div>